* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
}

html {
  font-size: 65%;
  scroll-behavior: smooth;
 
}



body {
  --primry-color: #03a6f5;
  --heading-color: #0397df;
  --primary-button: #808184;
  --background-color: #efeff0;
}

h1,
h2 {
  
  color: var(--main-color);
}

h4,
h3 {
  
  color: var(--main-color);
}

h3 {
  font-weight: 750;
  font-size: 2.2rem;
  line-height: 6rem;
  text-transform: capitalize;
  letter-spacing: 0px;
}
h5{
  color: var(--background-color);
}

p {
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 500;
  color: #6d6e70;
  letter-spacing: 0px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;

}


a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ffffff;
}
a:hover {
  text-decoration: none
}
li {
  list-style: none;
}

button {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  line-height: 3.6rem;
  text-transform: capitalize;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  border-radius: .5rem;
}


/*************Owl Carousel dots****************/
.owl-carousel{
  position: relative;
}

.owl-dots{
  position: absolute;
  bottom:1%;
  left:25%;
  right:25%;
}

#header .owl-dots{
  position: absolute;
  bottom:12%;
  left:25%;
  right:25%;
}

#header .owl-theme .owl-dots .owl-dot span{
 background: #ffffff;
}

/*************Owl Carousel nav****************/

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -5rem;
   background: none;
  
}
.owl-carousel .owl-nav button.owl-prev:hover {
   background: none; 
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -5rem;
   background: none;
}
.owl-carousel .owl-nav button.owl-next:hover {
  background: none; 
}
.two .owl-nav {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  width: 100%;
}


/* Owl Carousel Nav Button Color */


section {
  padding: 60px 0;
  overflow: hidden;

}



.container-fluid{
  width: 90%;
}

/*  naver bar section start */

.upperheader{
  background: url('../images/uppperheader.jpg');
  padding: 1rem ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.upperheader ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0px;
}
.upperheader ul li a{
  margin: auto 1rem;
  text-transform: uppercase;
  font-size: 1.596rem;
  font-weight: 500;
  letter-spacing: 1.5px;

}
.navbar {
  height: 8.654rem;
  background: #000000;

}
.websiteLogo{
    height: 10rem;
    width: 20rem;
    margin-top: -4rem;
}
.navbar ul{
  display: flex;
}

.belowheader ul li a{
  margin: auto 1.5rem;
  font-size: 2.115rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.belowheader ul li a:hover{
  color: var(--primry-color);
}

/*  naver bar section End */


/******* Home Page  ****/

.main-heading{
  color: var(--heading-color);
  text-align: left;
  font-weight: 400;
  font-size: 4.007rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}


.texDIv{
  position: relative;
}

.innerDivText{
  position: absolute;
  bottom: 10%;
  border-top: 1px solid #656565;
  width: 90%;
  padding: 1rem 0;
  padding-top: 0;
}
.innerDivText a{
  display: flex;
  justify-content: space-between;
  padding:  1rem;
}
.innerDivText img{
  width: 12%;
}

/* Set initial state for .innerDivText::before */
.innerDivText::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent; 
  transform: translateX(-100%); 
  transition: transform 0.5s ease; 
  z-index: -1;
}

.section1 .col-md-5:hover .innerDivText::before {
  background-color: #0497df; 
  transform: translateX(0); 
}

.section1 .col-md-5:hover .innerDivText p{
  color: #fff;
}

.section1 .img-fluid{
  width: 90%;
}

.section1 p{
  width: 110%;
}
.section1 .main-heading{
  width: 110%;
}
#newCollection{
  background: url('../images/newcollection.jpg');
  height: 72rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
#newCollection h2{
  color: #ffffff;
  font-weight: 400;
  font-size: 3.942rem;
  text-transform: capitalize;
}
.commcol{
  height: 52.615rem;
  margin-bottom: 1rem;
}
.bg-col1{
  background: url('../images/col1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-col2{
  background: url('../images/col3.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-col3{
  background: url('../images/col2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.containerrow {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%; /* Adjust the width as per your requirements */
  margin: 1%;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: self-end;
}
.box h2{
  font-size: 2.885rem;
  text-transform: uppercase;
}

#bathroometheme{
  background: #6d6e70;
  width: 100%;
}
.innerbathroomtheme{
  padding: 5rem;
}
.innerbathroomtheme h1{
  color: #ffffff;
  font-size: 3.942rem;
  font-weight: 400;
}

#section7{
  background: #efeff0;
}
#section7 .owl-carousel .item {
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third .owl-item{
  width: 39rem !important;  

}
.third .owl-item {
  margin: 0px 0.673rem;
}
.third .owl-stage {
  display: flex;
  justify-content: center;
  align-items: center;
}
#whoweare{
  background: url('../images/whoweare.jpg');
}

#smartproduct{
  background: url('../images/smartproduct.jpg');
  height: 72rem;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.middlesmartprduct{
  width: 40%;
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.middlesmartprduct h2{
  font-size: 3.942rem;
  color: #ffffff;
  font-weight: 400;
}


#formSection{
  background: #303030;
}
#formSection input{
  background: transparent;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #bbbb
}

#formSection input::placeholder {
  color: #bbbbbb;
  font-size: 1.923rem;
  letter-spacing: 1.5px;
}
.submitbtn{
  padding: 1rem 2rem;
  background: #0497df !important;
  color: #ffffff;
  font-size: 1.731rem;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.footerheader .websiteLogo{
  margin-top: auto;
}
.footerheader .navbar{
  height: auto;
}
#footer{
  font-size: 2.115rem;
  padding: 40px 0;
  color: #e6e7e8;
  background: #303030;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 500;

}
#footer a{
  font-size: 2.115rem;
  color: #e6e7e8;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
}
#footer h5{
  color: var(--primry-color);
  text-transform: uppercase;
  font-size: 2.115rem;
  font-weight: 700;
}
#footer  ul{
  padding-left: 0px;
}
#footer  ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.logos{
  display: flex;
  justify-content: center;
}
.logos img{
  width: 85%;
}
.footerborder{
    width: 90%;
    border-right: 1px solid #656565;
    height: 100%;
}

.postfooter{
  border-top: 2px solid var(--primry-color);
  margin-top: 5rem;
}

.postfooter .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

#slider1{
  margin-top: -8rem;
}
.belowheader{
  z-index: 2;
}
.marginleftclass{
  margin-left: -5rem;
}

/*************************************responsive website layout start  ***************************************/



 /* Small screens, such as smartphones / */
@media (max-width: 767px) {

      html {
        font-size: 45%;
      }
      .owl-carousel .owl-dots {
        display: none;
      }

      
      .owl-carousel .owl-nav button.owl-prev {
      display: none;
      }
      .owl-carousel .owl-nav button.owl-next {
        display: none;
      }


      .desktopMenu {
        display: none;
      }
      #slide-navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 80%;
        height: 100%;
        background-color: var(--background-color);
        overflow: auto;
      }
      .menu-overlay {
        display: none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* IE7 & 8 */
        position: fixed;
        right: 0;
        top: 0;
        z-index: 49;
      }
      .innerDivText{
        position: relative;
      }
      .box 
      {
              width: 100%;
              margin: 1%;
      }
      #slider1{
        margin-top: 0px;
      }
      .marginleftclass{
        margin-left: 0px ;
      }
      .section1 p{
        width: auto;
      }
      .section1 .main-heading{
        width: auto;
      }
      .texDIv div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

      }
      .texDIv div p{
        padding: 3rem;
      }
      .innerDivText img{
        height: 50%;
      }
      .clickbtn{
        display: flex;
        align-items: center;
      }
      .section1 .col-md-7 {
        display: flex;
        justify-content: center;
        align-items: center ;
      }
      .bg-col1{
        background-size: cover;
      }
      .bg-col2{
        background-size: cover;
      }
      .bg-col3{
        background-size: cover;
      }
      .third .owl-item{
        margin: 0px 7rem;
      }
      .middlesmartprduct {
        width: 90%;
      }
      .footerheader .navbar ul {
        display: block;
      }
      .footerheader .websiteLogo {
          margin-top: 0;
      }
      .footerborder {
        width: 90%;
        border-right:0px;
        border-bottom: 1px solid #656565;
        height: 100%;
      }


}

 /* Tablets in portrait mode / */
@media (min-width: 768px) and (max-width: 1023px) {
  
      html {
        font-size: 53%;
      }
      .desktopMenu{
        display: none;
      }
      #slide-navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 80%;
        height: 100%;
        background-color: var(--background-color);
        overflow: auto;
      }
      .menu-overlay {
        display: none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* IE7 & 8 */
        position: fixed;
        right: 0;
        top: 0;
        z-index: 49;
      }
      .innerDivText{
        position: relative;
      }
       .box {
            width: 100%;
            margin: 1%;
        }
        .bg-col1{
          background-size: cover;
        }
        .bg-col2{
          background-size: cover;
        }
        .bg-col3{
          background-size: cover;
        }
        .commcol{
          height: 76.615rem;
        }
        .middlesmartprduct {
          width: 80%;
        }
        .innerDivText img {
          height: 50%;
        }
}

/* / Tablets in landscape mode and small desktops / */
@media (min-width: 1024px) and (max-width: 1399px) {
      html {
        font-size: 50%;
      }
      .mobileMenu{
        display: none;
      }
      .container{
        width: 1180px;
      }
}
/* / Standard desktops and laptops / */
@media (min-width: 1400px) and (max-width: 1919px) {
  
    html {
      font-size: 55%;
      scroll-behavior: smooth;
    }
    .container{
      width: 1180px;
    }

}
/* / Large screens and high-resolution displays / */
@media (min-width: 1920px) {
    .container {
      max-width: 1440px; 
      padding: 0;
    }
    .row {
      max-width: 1440px; 
      padding: 0;
      margin: 0;
    }

    .mobileMenu{
      display: none;
    }

    #footer .col-md-2 {
      width: 18%;
    }
    #footer .row {
      display: flex;
      justify-content: center;
      max-width: 1728px ;
    }

}
