* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

html {
  font-size: 65%;
  scroll-behavior: smooth;
 
}



body {
  --primry-color: #03a6f5;
  --heading-color: #0397df;
  --primary-button: #808184;
  --background-color: #efeff0;
}

h1,
h2 {
  
  color: var(--main-color);
}

h4,
h3 {
  
  color: var(--main-color);
}

h3 {
  font-weight: 750;
  font-size: 2.2rem;
  line-height: 6rem;
  text-transform: capitalize;
  letter-spacing: 0px;
}
h5{
  color: var(--background-color);
}

p {
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 500;
  color: #6d6e70;
  letter-spacing: 0px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;

}


a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ffffff;
}
a:hover {
  text-decoration: none
}
li {
  list-style: none;
}

button {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  line-height: 3.6rem;
  text-transform: capitalize;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  border-radius: .5rem;
}


/*************Owl Carousel dots****************/
.owl-carousel{
  position: relative;
}

.owl-dots{
  position: absolute;
  bottom:1%;
  left:25%;
  right:25%;
}

#header .owl-dots{
  position: absolute;
  bottom:12%;
  left:25%;
  right:25%;
}

#header .owl-theme .owl-dots .owl-dot span{
 background: #ffffff;
}

/*************Owl Carousel nav****************/

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -5rem;
   background: none;
  
}
.owl-carousel .owl-nav button.owl-prev:hover {
   background: none; 
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -5rem;
   background: none;
}
.owl-carousel .owl-nav button.owl-next:hover {
  background: none; 
}
.two .owl-nav {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  width: 100%;
}


/* Owl Carousel Nav Button Color */


section {
  padding: 60px 0;
  overflow: hidden;

}



.container-fluid{
  width: 95%;
}

/*  naver bar section start */

.upperheader{
  background: url('../images/uppperheader.jpg');
  padding: 1rem ;
  background-repeat: no-repeat;
  background-size: cover;
}

.upperheader ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0px;
}
.upperheader ul li a{
  margin: auto 1rem;
  text-transform: uppercase;
  font-size: 1.596rem;
  font-weight: 500;
}
.navbar {
  height: 8.654rem;
  background: #000000;

}
.websiteLogo{
    height: 10rem;
    width: 20rem;
    margin-top: -4rem;
}
.navbar ul{
  display: flex;
}

.belowheader ul li a{
  margin: auto 1.5rem;
  font-size: 2.115rem;
  font-weight: 500;
  text-transform: uppercase;
}

.belowheader ul li a:hover{
  color: var(--primry-color);
}

/*  naver bar section End */


/******* Home Page  ****/

.main-heading{
  color: var(--heading-color);
  text-align: left;
  font-weight: 400;
  font-size: 4.007rem;
  font-family: 'Montserrat', sans-serif;
}


.texDIv{
  position: relative;
}

.innerDivText{
  position: absolute;
  bottom: 0;
  border-top: 1px solid #656565;
  width: 90%;
  padding: 3rem 0;
}
.innerDivText a{
  display: flex;
  justify-content: space-between;
}
.innerDivText img{
  width: 12%;
}

.section1 .img-fluid{
  width: 95%;
}

#newCollection{
  background: url('../images/newcollection.jpg');
  height: 72rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
#newCollection h2{
  color: #ffffff;
  font-weight: 400;
  font-size: 3.942rem;
  text-transform: capitalize;
}
.commcol{
  height: 59.615rem;
  margin-bottom: 1rem;
}
.bg-col1{
  background: url('../images/col1.jpg');
}
.bg-col2{
  background: url('../images/col3.jpg');
}
.bg-col3{
  background: url('../images/col2.jpg');
}
.containerrow {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%; /* Adjust the width as per your requirements */
  margin: 1%;
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: self-end;
}
.box h2{
  font-size: 2.885rem;
  text-transform: uppercase;
}

#bathroometheme{
  background: #6d6e70;
  width: 100%;
}
.innerbathroomtheme{
  padding: 5rem;
}
.innerbathroomtheme h1{
  color: #ffffff;
  font-size: 3.942rem;
  font-weight: 400;
}

#section7{
  background: #efeff0;
}
#section7 .owl-carousel .item {
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third .owl-item{
  width: 39rem !important;  

}
.third .owl-item {
  margin: 0px 0.673rem;
}

#whoweare{
  background: url('../images/whoweare.jpg');
}

#smartproduct{
  background: url('../images/smartproduct.jpg');
  height: 72rem;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.middlesmartprduct{
  width: 40%;
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.middlesmartprduct h2{
  font-size: 3.942rem;
  color: #ffffff;
  font-weight: 400;
}

/*************************************responsive website layout start  ***************************************/



 /* Small screens, such as smartphones / */
@media (max-width: 767px) {

      html {
        font-size: 45%;
      }
      .owl-carousel .owl-dots {
        display: none;
      }

      
      .owl-carousel .owl-nav button.owl-prev {
      display: none;
      }
      .owl-carousel .owl-nav button.owl-next {
        display: none;
      }


      .desktopMenu {
        display: none;
      }
      #slide-navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 80%;
        height: 100%;
        background-color: var(--background-color);
        overflow: auto;
      }
      .menu-overlay {
        display: none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* IE7 & 8 */
        position: fixed;
        right: 0;
        top: 0;
        z-index: 49;
      }
      .innerDivText{
        position: relative;
      }
       .box {
                width: 100%;
                margin: 1%;
            }
}

 /* Tablets in portrait mode / */
@media (min-width: 768px) and (max-width: 1023px) {
  
      html {
        font-size: 50%;
      }
      .desktopMenu{
        display: none;
      }
      #slide-navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 80%;
        height: 100%;
        background-color: var(--background-color);
        overflow: auto;
      }
      .menu-overlay {
        display: none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* IE7 & 8 */
        position: fixed;
        right: 0;
        top: 0;
        z-index: 49;
      }
      .innerDivText{
        position: relative;
      }
       .box {
                width: 100%;
                margin: 1%;
            }
}

/* / Tablets in landscape mode and small desktops / */
@media (min-width: 1024px) and (max-width: 1399px) {
      html {
        font-size: 50%;
      }
      .mobileMenu{
        display: none;
      }
      .container{
        width: 1110px;
      }
}
/* / Standard desktops and laptops / */
@media (min-width: 1400px) and (max-width: 1919px) {
  
    html {
      font-size: 55%;
      scroll-behavior: smooth;
    }
    .container{
      width: 1110px;
    }

}
/* / Large screens and high-resolution displays / */
@media (min-width: 1920px) {
    .container {
      max-width: 1440px; 
      padding: 0;
    }
    .row {
      max-width: 1440px; 
      padding: 0;
      margin: 0;
    }

    .mobileMenu{
      display: none;
    }

    

}
